<nav id="desktop-nav">
    <div class="logo">Sanjay Singh</div>
    <div class="theme-switch-wrapper">
        <i class="fas fa-sun theme-icon sun-icon"></i>
        <button
            id="theme-toggle"
            class="theme-toggle"
            aria-label="Toggle light and dark theme"
        ></button>
        <i class="fas fa-moon theme-icon moon-icon"></i>
    </div>
    <ul class="nav-links">
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="toggle_btn">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <div class="hamburger_menu">
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </div>
    </div>
</nav>
