<div class="section__pic-container">
    <div class="flipper">
        <img
            src="./assets/sanjay_profile_pic_light.png"
            alt="Sanjay Singh professional headshot - Light Theme"
            class="profile-pic profile-pic-light profile-pic-front"
        />
        <img
            src="./assets/sanjay_profile_pic_dark.png"
            alt="Sanjay Singh professional headshot - Dark Theme"
            class="profile-pic profile-pic-dark profile-pic-back"
        />
    </div>
</div>
<div class="section__text">
    <p class="section__text__p1">Hello, I'm</p>
    <h1 class="title">Sanjay Singh</h1>
    <p class="section__text__p2">Full Stack Web Developer (MERN)</p>
    <div class="btn-container">
        <button
            class="btn btn-outlined"
            onclick="window.open('./assets/Sanjay_Singh_Resume.pdf')"
        >
            Download CV
        </button>
        <button
            class="btn btn-filled"
            onclick="location.href='./#contact'"
        >
            Contact Info
        </button>
    </div>
    <div id="socials-container">
        <a
            href="https://www.linkedin.com/in/urssanjaysingh"
            target="_blank"
            ><img
                src="./assets/linkedin.png"
                alt="My LinkedIn profile"
                class="icon"
        /></a>
        <a href="https://github.com/urssanjaysingh" target="_blank"
            ><img
                src="./assets/github.png"
                alt="My Github profile"
                class="icon"
        /></a>
    </div>
</div>
<img
    src="./assets/arrow.png"
    alt="Arrow Icon"
    class="icon arrow"
    onclick="location.href='./#about'"
/>
