<p class="section__text__p1">Browse My Recent</p>
<h1 class="title">Projects</h1>
<div class="experience-details-container">
    <div class="about-containers">
        <div class="details-container color-container">
            <div class="article-container">
                <img
                    src="./assets/project_img_1.jpg"
                    alt="Greendart - Grocery Delivery Web App"
                    class="project-img"
                />
            </div>
            <h2 class="experience-sub-title project-title">
                Greencart
            </h2>
            <div class="btn-container">
                <button
                    class="btn btn-outlined project-btn"
                    onclick="window.open('https://github.com/urssanjaysingh/GreenCart', '_blank')"
                >
                    GitHub
                </button>
                <button
                    class="btn btn-outlined project-btn"
                    onclick="window.open('https://greencart-8d9l.onrender.com/', '_blank')"
                >
                    Live Demo
                </button>
            </div>
        </div>
        <div class="details-container color-container">
            <div class="article-container">
                <img
                    src="./assets/project_img_2.jpg"
                    alt="Pizzarush - Food Ordering MERN App"
                    class="project-img"
                />
            </div>
            <h2 class="experience-sub-title project-title">
                Pizzarush
            </h2>
            <div class="btn-container">
                <button
                    class="btn btn-outlined project-btn"
                    onclick="window.open('https://github.com/urssanjaysingh/PizzaRush', '_blank')"
                >
                    GitHub
                </button>
                <button
                    class="btn btn-outlined project-btn"
                    onclick="window.open('https://pizzarush.onrender.com/', '_blank')"
                >
                    Live Demo
                </button>
            </div>
        </div>
        <div class="details-container color-container">
            <div class="article-container">
                <img
                    src="./assets/project_img_3.jpg"
                    alt="Shopnest - An E-Commerce Platform"
                    class="project-img"
                />
            </div>
            <h2 class="experience-sub-title project-title">
                Shopnest
            </h2>
            <div class="btn-container">
                <button
                    class="btn btn-outlined project-btn"
                    onclick="window.open('https://github.com/urssanjaysingh/ShopNest', '_blank')"
                >
                    GitHub
                </button>
                <button
                    class="btn btn-outlined project-btn"
                    onclick="window.open('https://shopnest-jjzh.onrender.com/', '_blank')"
                >
                    Live Demo
                </button>
            </div>
        </div>
    </div>
</div>
<img
    src="./assets/arrow.png"
    alt="Arrow Icon"
    class="icon arrow"
    onclick="location.href='./#contact'"
/>
