<p class="section__text__p1">Explore My</p>
<h1 class="title">Skills</h1>
<div class="experience-details-container">
    <div class="about-containers">
        <!-- Frontend Development -->
        <div class="details-container">
            <h2 class="experience-sub-title">
                Frontend Development
            </h2>
            <div class="article-container">
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>HTML</h1>
                        <p>Experienced</p>
                    </div>
                </article>
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>CSS</h1>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>JavaScript</h1>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>React.js</h1>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>Bootstrap</h1>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>Tailwind CSS</h1>
                        <p>Basic</p>
                    </div>
                </article>
            </div>
        </div>

        <!-- Backend Development -->
        <div class="details-container">
            <h2 class="experience-sub-title">
                Backend Development
            </h2>
            <div class="article-container">
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>Node.js</h1>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>Express.js</h1>
                        <p>Intermediate</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="about-containers">
        <!-- Database -->
        <div class="details-container">
            <h2 class="experience-sub-title">Database</h2>
            <div class="article-container">
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>MongoDB</h1>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>SQL</h1>
                        <p>Basic</p>
                    </div>
                </article>
            </div>
        </div>

        <!-- Tools -->
        <div class="details-container">
            <h2 class="experience-sub-title">
                Tools &amp Platforms
            </h2>
            <div class="article-container">
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>Git</h1>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>GitHub</h1>
                        <p>Intermediate</p>
                    </div>
                </article>
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>VS Code</h1>
                        <p>Experienced</p>
                    </div>
                </article>
                <article>
                    <img
                        src="./assets/checkmark.png"
                        alt="Experience Icon"
                        class="icon"
                    />
                    <div>
                        <h1>Postman</h1>
                        <p>Intermediate</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<img
    src="./assets/arrow.png"
    alt="Arrow Icon"
    class="icon arrow"
    onclick="location.href='./#projects'"
/>
